*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

html,body{
  height: 100%;
  width: 100%;
}

header{
  z-index: 1;
  height: 73px;
  width: 100%;
  background-color:rgb(255, 255, 255);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 200px;
}

#fakeheader{
  height: 53px;
  width: 100%;
  background-color:rgb(255, 255, 255);
}

#logo h1{
  font-size: 50px;
  font-weight: bold;
}

#search-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; width: 360px;
  border-radius: 60px;
  margin-top: 10px;
}

#search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 3;
  margin-left: 10px;  
}

#search-box #s{
  width: 360px;
  height: 40px;
  display:flex;
  justify-content:start;
  align-items: center;
}

#search-box #s input{
  background-color: rgba(187, 187, 192, 0.684);
  color: rgb(0, 0, 0);
  position: absolute;
  width: 360px; height: 40px;
  border: none;
  outline: none;
  font-size: 22px;
  border-radius: 60px;
  text-align: center;
}

.tab{
  display: flex;
  align-items: center;
  background-color: rgb(240, 242, 245);
  padding: 8px 12px;
  border-radius: 50px;
}

.tab:hover{
  background-color: rgb(218, 219, 221);
  transform: scale(1.05);
}

main{
  background-color:rgb(245, 244, 243);
  padding: 20px 300px;
}

#WOYM{
  padding: 20px;
  text-align: center;
  font-size: 40px;
}
/* #WOYM h1{
  
} */

#deals{
  padding: 10px 20px 19px 20px;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 13px;
  margin-left: 8px;
}

#offers{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer{
  display: flex;
  border:2px solid rgb(33, 33, 32);
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(185, 181, 176);
  box-shadow: 7px 7px 2px #aaaaaa;
}

#menu-circles{
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  gap: 60px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#pizza img,#burger img,#pasta img,#desert img,#punj img,#cake img,#sandwich img,#soup img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  height: 120px; width: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}

#pizza h3,#burger h3,#pasta h3,#desert h3,#punj h3,#cake h3,#sandwich h3,#soup h3{
  text-align: centre;
  font-weight:lighter;
}

#pizza:hover,#burger:hover,#pasta:hover,#desert:hover,#punj:hover,#cake:hover,#sandwich:hover,#soup:hover{
  transform: scale(1.1);
  transition: transform 2s ease 0s ease;
}

#menu{
  height: auto;
  padding: 20px 0px;
  border-radius: 20px;
  background-color:antiquewhite;
  border: 1px solid black;
}

.item{
  height: 250px;
  display: flex;
}

.left{
  width: calc(90% - 220px);
  padding-right: 10px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.left h2{
  margin: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left h3{
  margin: 4px 8px;
  margin-right: 50px;
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right{
  display: flex;
  flex-direction: column;
  width: calc(10% + 220px);
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.image{
  height: 175px;
  width: 175px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 3px #aaaaaa;
}

.image:hover{
  transform: rotateZ(3deg);
  transition: transform 1s ease 0s ease;
}

#SB .image{
  background-image: url("https://images.unsplash.com/photo-1692071097529-320eb2b32292?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#MP .image{
  background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1981&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#PTC .image{
  background-image: url("https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#BIC .image{
  background-image: url("https://images.unsplash.com/photo-1597648152428-f883fbc9c873?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.add{
  border-radius: 10px;
  padding: 5px 25px;
  background-color: rgb(206, 60, 60);
}

.add:hover{
  background-color: rgb(125, 18, 18);
}
