*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

html,body{
  height: 100%;
  width: 100%;
}

header{
  height: 73px;
  width: 100%;
  background-color:rgb(255, 255, 255);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 200px;
}

#fakeheader{
  height: 53px;
  width: 100%;
  background-color:rgb(255, 255, 255);
}

#search-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; width: 360px;
  border-radius: 60px;
  margin-top: 10px;
}

#search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 3;
  margin-left: 10px;  
}

#search-box #s{
  width: 360px;
  height: 40px;
  display:flex;
  justify-content:start;
  align-items: center;
}

#search-box #s input{
  background-color: rgba(187, 187, 192, 0.684);
  color: rgb(0, 0, 0);
  position: absolute;
  width: 360px; height: 40px;
  border: none;
  outline: none;
  font-size: 22px;
  border-radius: 60px;
  text-align: center;
}

.tab{
  display: flex;
  align-items: center;
  background-color: rgb(240, 242, 245);
  padding: 8px 12px;
  border-radius: 50px;
}

.tab:hover{
  background-color: rgb(218, 219, 221);
  transform: scale(1.05);
}

main{
  background-color:rgb(245, 244, 243);
  padding: 20px 300px;
}

#title{
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

#title h1{
  font-size: 55px;
  font-weight: 200px;

}

#rating h1{
  font-size: 35px;
  margin: 0;
}

#rating{
  margin: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  background-color: rgb(10, 73, 10);
  color: white;
  border-radius: 5px;
}

#description h3{
  width: 70%;
  font-weight: 200;
}

.tag{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding:5px 20px;
  background-color:rgba(39, 131, 47, 0.901);
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 2.5px 2.5px 2px #aaaaaa;
}

.box{
  margin-top: 8px;
  margin-bottom: 6px;
  margin-right: 20px;
  padding: 5px 10px;
}

.box h3{
  font-weight: 200;
}

#timings{
  background-color:rgb(243, 230, 214);
  border: 1px solid black;
  border-radius: 10px;
}

#contact{
  display: flex;
  align-items: center;
}

#gallery{
  margin: 8px 0px;
  display: flex;
  height: 290px;
  width: 100%;
  gap: 5px;
}

#box1{
  height: 100%;
  width: 50%;
}

#box1 img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#box2{
  height: 100%;
  width: calc(50% + 5px);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#box2 img{
  height: calc(50% - 2.5px);
  width: calc(50% - 2.5px);
  object-fit: cover;
}

#deals{
  height: 110px;
  width: 100%;
  align-items: center;
  margin-top: 13px;
  margin-left: 8px;
}

#offers{
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.offer{
  display: flex;
  border:2px solid rgb(33, 33, 32);
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 20px;
  margin-right: 40px;
  background-color: rgb(185, 181, 176);
  box-shadow: 7px 7px 2px #aaaaaa;
}

#menu{
  height: auto;
  padding: 20px 0px;
  border-radius: 20px;
  background-color:antiquewhite;
  border: 1px solid black;
}

.item{
  height: 250px;
  display: flex;
}

.left{
  width: calc(90% - 220px);
  padding-right: 10px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.left h2{
  margin: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left h3{
  margin: 4px 8px;
  margin-right: 50px;
  font-weight: lighter;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right{
  display: flex;
  flex-direction: column;
  width: calc(10% + 220px);
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}

.image{
  height: 175px;
  width: 175px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 3px #aaaaaa;
}

#SB .image{
  background-image: url("https://images.unsplash.com/photo-1692071097529-320eb2b32292?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#MP .image{
  background-image: url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1981&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#PTC .image{
  background-image: url("https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#BIC .image{
  background-image: url("https://images.unsplash.com/photo-1597648152428-f883fbc9c873?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.add{
  border-radius: 10px;
  padding: 5px 25px;
  background-color: rgb(206, 60, 60);
}

.add:hover{
  background-color: rgb(125, 18, 18);
}
